<html>
<head>
	<link rel="shortcut icon" type="image/png" href="/img/icon.png"/>
</head>
<style>

	.itext {
		font-family: Gadugi;
		font-size: 33;
		text-align: justify;
	}

	.button_index {
		position: relative;
		top: 10;
		left: 37%;
		transform: translateX(-50%);
		font-family: Gadugi;
		font-size: 40;
		text-align: justify;
		background: linear-gradient(210deg, lightgreen, green);
		text-decoration: none;
		color: white;
		border-radius: 4px;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 6px;
		padding-bottom: 6px;

	}
	body {
	    position: relative;
	    height: 100vh;
	    padding-top: 2px;
	    padding-right: 250px;
	    padding-left: 250px;
	}

	img{
        position: relative;
        top: 10;
        left: 50%;
        transform: translateX(-50%);
    }
</style>
<body>
	<img src="/img/logo-no-background.png" width="250px" height="200px">
	<div class="itext">
	<p>
		Welcome to oLearn – where learners and teachers unite seamlessly in the pursuit of knowledge. Explore a diverse range of topics, connect with passionate educators, and experience personalized learning through our integrated online video calls. Break down barriers, join our vibrant community, and embark on a journey where oLearn transforms the way you learn and teach. Unlock the door to limitless possibilities with oLearn.</p>

		<a href="/home" class="button_index">ENTER oLearn</a>
</div>
</body>
<script src="/js/index.js"></script>
</html>